[submodule "external/AMDAGS"]
	path = external/AMDAGS
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AGS_SDK.git
[submodule "external/VMA"]
	path = external/VMA
	url = https://github.com/KVadym-del/D3D12MemoryAllocator
[submodule "external/NVAPI"]
	path = external/NVAPI
	url = https://github.com/NVIDIA/nvapi.git
[submodule "external/VulkanHeaders"]
	path = external/VulkanHeaders
	url = https://github.com/KVadym-del/Vulkan-Headers
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/KVadym-del/VulkanMemoryAllocator
[submodule "external/NVTX"]
	path = external/NVTX
	url = https://github.com/KVadym-del/NVTX
[submodule "external/DLSS"]
	path = external/DLSS
	url = https://github.com/NVIDIA/DLSS
[submodule "external/XESS"]
	path = external/XESS
	url = https://github.com/intel/xess